**/*.DS_Store
.DS_Store
*.class
#local backup
*.keep
# Package Files #
*.jar
*.war
*.ear
target/
bin/
ebay.log
*.log
**/*.log
dist
build
bin
rebel.xml
MANIFEST.MF
/tests/
/coverage/
/cobertura.ser
*/ebay.log
*.class
*.jar
*.zip
*/target/*
*/temp_persist_config_*.xml
*/**/temp_persist_config_*.xml
*/src/main/resources/buildinfo.properties
/.idea/
/.settings/
**/*.iml
build.xml
ebay-build.xml
4cc.checksum
/.metadata
/.project
# For SOA service consumers
*/gen-src/*
*/gen-meta-src/*
*/gen-src/client/*
gen-src
gen-meta-src


# ignoring the sass cache files
**/.sass-cache/*

.settings
**/.settings/*
**/.settings

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath
.project

**/.classpath
**/.project

*/**/EchoService.InvokerConfigurations-*.xml
**/EchoService.InvokerConfigurations-*.xml


esamscache
nameservice
raptor.xml

*.coldindex
*.cold

velocity.log
velocity.log.*

*.index

*/gen-src/*
*/gen-meta-src/*
*/gen-test/*
*/gen-web-content/*
*/target/*
*/build/*
**/.classpath
**/.project
**/.settings/*


*.iml
